html {
  /* Força a barra de rolagem vertical a aparecer sempre, 
     evitando que a NAV pule quando você muda de página */
  overflow-y: scroll; 
}

body {
  background-color: #E1DAD2;
  margin: 0;
  padding: 0;
  /* Remova o max-width: 100vw se puder, ele causa bugs com scroll */
  width: 100%;
  overflow-x: hidden;
  background-image: url(./assets/fundoContato.webp);
  background-position: center;
  background-repeat: no-repeat;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #E1DAD2;

}

a{
  text-decoration: none;
  color: white;
}

ul li{
  list-style: none;
}


/* NAVEGAÇÃO */

header{
  background-color: #421F38;
}

nav{
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img{
  width: 220px;
}

.navegacao{
  display: flex;
  list-style: none;
  font-family: 'Inter';
  gap: 20px;
  color: white;
}

/* CONTEUDO */

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
textarea{
  font-size: 16px;
  padding: 2px;
}


 a{
    text-decoration: none !important;
     color: white ;
  }

  footer a{
    color: white;
  }


.photo-grid{
  margin-left: 60px;
}

.photo-grid img{
  margin-top: 10px;
}

    .labelObjetivo{
    margin-bottom: 5px;
  }

  .logoPrincipal{
  height: 80px;
  cursor: pointer;
}

.contatoTime{
  font-size: 52px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-wrap: nowrap;
  color: white;
  margin-bottom: 20px;
}

.contatoTime span{
  font-style: italic;
  color: #957755;
}

.contatoCurriculo{
  font-size: 52px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-wrap: nowrap;
  color: #421F38;
    margin-bottom: 20px;

}

.contatoCurriculo span{
  font-style: italic;
  color: #957755;
}

#curriculo{
  width: 500px;
  height: 40px;
  border: none;
  padding: 10px;
}


.contatoFundo{
  position: absolute;
  right: 0;
  top: 50px;
  

  

  z-index: -1;
}







.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas principais */
  gap: 20px; /* Espaço entre formulários e fotos */
  max-width: 1160px;
  margin: 0 auto;
  
  padding-top: 40px;
 
}


.forms-column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}


  form{
  overflow: hidden;
}

.form h1{
  color: #421F38;
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 100;
  margin-left: 110px;
  margin-bottom: 0px;
}

.form h1::after{
  content: '';
  display: block;
  width: 420px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
}



.ready{
  font-style: italic;
  font-weight: 500;
}

label{
  display: block;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #322D31;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}


input[type="file"] {
  display: none;
}

.labelCurriculo{
  display: block;
  margin-top: 30px;
  width: 500px;
  height: 100px; 
  background-color: #f9f9f9; 
  color: #757575; 
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  
  cursor: pointer;
  box-sizing: content-box;
}


input{
  display: block;
  margin-top: 10px;
  width: 520px;
  height: 20px;
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
}

#enviar{
  margin-top: 30px;
  width: 240px;
  height: 40px;
  background: #0F1F2E;
  color: #E1DAD2;
  font-family: Inter;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 130px;
  border-radius: 4px;
  cursor: pointer !important;
  z-index: 1000;
  position: relative;
}


#objetivo{
  height: 100px;
  width: 520px;
}


#conheceu{
  height: 50px;
  width: 520px;
  border-radius: 4px;
   font-size: 16px;
}
textarea{
  font-size: 16px;
  padding: 2px;
}

/* ROXO */

.roxo label{
  color: white;
}


.roxo{
  background-color: #421F38;
  padding-left: 25px;
  padding-bottom: 20px;
  border-radius: 30px;
}


/* FOOTER */

footer{
 background: #421F38;
  height: 250px;
  display: flex;
  position: relative;
  margin-top: 80px;
  font-family: 'Playfair Display';
}

.xadrez{
  position: absolute;
  bottom: -1;
  left: -1;
  right: 0;
  height: 250px;
}



.NaveFooter{
  font-family: 'Playfair Display', serif;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;

}

.FooterNavegacao{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;  
}


.NavFooter{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 18px;
}

.tituloNav{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
  font-family: 'Playfair Display', serif;
}



.contatoFooter{
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 18px;
}


.logoFooter{
  height: 50px;
  cursor: pointer;
}


.logosFooter{
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  left: 90px;
  height: 60px;
}