

body {
  background-color: #E1DAD2;
  margin: 0;
  padding: 0;
  /* Remova o max-width: 100vw se puder, ele causa bugs com scroll */
  width: 100%;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


a{
  text-decoration: none;
  color: white;
}

ul li{
  list-style: none;
}


/* NAVEGAÇÃO */

header{
  background-color: #421F38;
}

nav{
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img{
    width: 220px;

}

.navegacao{
  display: flex;
  list-style: none;
  font-family: 'Inter';
  gap: 20px;
  color: white;
}

/* INICIO */

.fundoPrincipal{
  position: absolute;
  z-index: -1 ;
}

.container{
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 100px;
}

.textosInicio h1{
  color: #957755;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 46px;
}

.visionaries{
  color: #421F38;
  font-style: italic;
  font-weight: 600;
}

.subtituloInicio{
  font-style: italic;
  font-family: 'Inter' !important;
  font-weight: 200 !important;
  color: #322D31 !important;
}


.fundoRoxo{
  max-width: 1260px;
  background-color: #421F38;
  margin: 0 auto;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.descricaoPlanos{
  max-width: 1160px;
  margin: 0 auto;
}

.fundoTexto{
  width: 460px;
  position: absolute;
}
/* PILARES DA CULTURA  */

.tituloAlem{
  position: relative;
  top: 10px;
  left: 10px;
  color: white;
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}

.textoAlem{
  margin-top: 40px;
  font-size: 18px;
  max-width: 470px;
  text-align: left;
  color: white;
  font-weight: 200;
  font-family: "Playfair Display";
}

.containerPilares{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 200px;
    align-items: start;
}

.fundoTitulo{
  width: 460px;
}

.visao, .honra, .frente, .verdade{
  grid-column: 1;
}

.visao img, .honra img, .frente img, .verdade img{
  position: absolute;
  margin-top: 40px;
}

.visao h1{
  position: relative;
  top: 65px;
  left: 130px;
  color: white;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 28px;

}

.visao p, .honra p, .frente p, .verdade p{
  margin-top: 120px;
  color: white;
  font-family: "Playfair Display";
  max-width: 470px;
  font-size: 18px;
}

.honra h1{
   position: relative;
  top: 65px;
  left: 40px;
  color: white;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 28px;

}

.frente h1{
   position: relative;
  top: 65px;
  left: 90px;
  color: white;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 28px;

}

.verdade h1{
     position: relative;
  top: 70px;
  left: 80px;
  color: white;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 28px;

}

/* COLUNA DA DIREITA DOS PILARES  */


.direita{
  grid-column: 2;
}

.amor{
  position: relative;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-end;
  margin-top: 40px;
}

.amor img{
  position: relative;
}

.amor h1{
  position: absolute;
  left: 160px;
  top: 30px;
  color: white;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 28px;

}

.amor p{
    margin-top: 20px;
  color: white;
  font-family: "Playfair Display";
  max-width: 470px;
  font-size: 18px;
  text-align: end;
}

.excelencia{
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-end;
  margin-top: 40px;
}

.excelencia img{
  position: relative;
}

.excelencia h1{
  position: absolute;
  left: 50px;
  top: 30px;
  color: white;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 26px;
}

.excelencia p{
  margin-top: 20px;
  color: white;
  font-family: "Playfair Display";
  max-width: 470px;
  font-size: 18px;
  text-align: end;
}

.mais{
  grid-row: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-end;
  margin-top: 40px;
}

.mais img{
  position: relative;
}

.mais h1{
  position: absolute;
  left: 150px;
  top: 30px;
  color: white;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 28px;
}

.mais p{
  margin-top: 20px;
  color: white;
  font-family: "Playfair Display";
  max-width: 470px;
  font-size: 18px;
  text-align: end;
}

.guardioes{
  grid-row: 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-end;
  margin-top: 40px;
}

.guardioes img{
  position: relative;
}

.guardioes h1{
  position: absolute;
  left: 150px;
  top: 30px;
  color: white;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 28px;
}

.guardioes p{
  margin-top: 20px;
  color: white;
  font-family: "Playfair Display";
  max-width: 470px;
  font-size: 18px;
  text-align: end;
}


/* PASSOS PARA SE TORNAR UM VISIONARY*/

.blocoVisioanry{
    margin-top: 100px;
    display: inline-flex;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 310px;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(90deg, #957755 0%, #B59E81 100%);
    box-shadow: -1px 13px 12.7px 9px rgba(0, 0, 0, 0.14);
    color: white;
    position: relative;
}


.tornarVisionary{
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

.tornarVisionary span{
    font-style: italic;
    color: #0F1F2E;
}

.aguiaVision{
    position: absolute;
    width: 500px;
    left: -200px;
    top: 2100px;
    z-index: -1;
}

.passos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}
.passos-section{
    margin-top: -100px;
}


.passo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
    color: #322D31;
    position: relative;
}
.passo-item::after {
    content: "";
    position: absolute;
    right: 0; 
    top: 180px; 
    transform: translateY(-50%); 
    height: 380px; 
    width: 2px; 
    background-color: rgba(149, 119, 85, 0.5); 
}

.passo-item::before {
    display: none;
}


.passo-item:first-child::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 180px;
    transform: translateY(-50%);
    height: 400px;
    width: 2px; 
    background-color: rgba(149, 119, 85, 0.5);
}

.passo-numero {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    background: linear-gradient(180deg, #957755 0%, #C7B299 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow: 8px 4px 7.5px rgba(0, 0, 0, 0.25);

}

.passo-numero{
    font-weight: 700;
}

.passo-item p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
}

.botaoVisionary{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 100px auto;
    padding: 20px 60px;
    background: #0F1F2E;
    box-shadow: -1px 13px 12.7px 9px rgba(0, 0, 0, 0.14);
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 130px;
    margin-left: 480px;
}

/* INSTAGRAM */

.instagram h1{
  text-align: center;
  font-size: 52px;
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
}


/* FORMULÁRIO */

form{
  overflow: hidden;
  max-width: 1160px;
  margin: 0 auto;
}


.form{
  margin-top: 80px;
  overflow: hidden;
  background-image: url(./assets/fundoFormulario.webp);
  background-size: 100%;
  padding: 20px;
}


.form h1{
  color: #421F38;
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.form h1::after{
  content: '';
  display: block;
  width: 400px;
  height: 2px;
  background-color: white;
  margin-top: 5px;
}



.ready{
  font-style: italic;
  font-weight: 500;
}

label{
  display: block;
  margin-top: 16px;
  margin-bottom: 10px;
  color: #322D31;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

input{
  display: block;
  margin-top: 10px;
  width: 520px;
  height: 20px;
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
}

#enviar{
  margin: 0 130px;
  margin-top: 30px;
  width: 240px;
  height: 40px;
  background: #421F38;
  color: white;
  font-family: Inter;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer !important;
  z-index: 1000;
  position: relative;
}


#objetivo{
  height: 100px;
  width: 520px;
}


#conheceu{
  height: 50px;
  width: 520px;
  border-radius: 4px;
}

textarea{
  font-size: 16px;
  padding: 2px;
}








/* FOOTER */

footer{
 background: #421F38;
  height: 250px;
  display: flex;
  position: relative;

  font-family: 'Playfair Display';
}

.xadrez{
  position: absolute;
  bottom: -1;
  left: -1;
  right: 0;
  height: 250px;
}



.NaveFooter{
  font-family: 'Playfair Display', serif;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;

}

.FooterNavegacao{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -100px;  
}


.NavFooter{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 18px;
}

.tituloNav{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
  font-family: 'Playfair Display', serif;
}



.contatoFooter{
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 50px;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 18px;
}


.logoFooter{
  height: 50px;
  cursor: pointer;
}


.logosFooter{
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 10px;
  left: 90px;
  height: 60px;
}






/* TESTE */


.team-container {
  position: absolute;
  top: 170px;
  left: 700px;
  display: flex;
  width: 100%;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
}

.member {
  position: relative;
  flex: 1; /* Todos começam com o mesmo tamanho */
  overflow: hidden;
  transition: all 0.5s ease; /* Suaviza a expansão */
  cursor: pointer;
}

.member img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a foto não distorça */
  transition: all 0.5s ease;
}

/* Quando passar o mouse no container, o que acontece com o item: */
.member:hover {
  flex: 2; /* Aumenta o peso do elemento no flexbox */
}

.member:hover img {
  filter: grayscale(0%); /* Volta a cor original no hover */
}

/* Estilo para o nome (opcional) */
.info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.member:hover .info {
  opacity: 1;
}