.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  flex-direction: column;
  gap: 5px;
  z-index: 1001;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}








html {
  /* Força a barra de rolagem vertical a aparecer sempre, 
     evitando que a NAV pule quando você muda de página */
  overflow-y: scroll; 
  overflow-x: hidden;

}

body {
  background-color: #E1DAD2;
  margin: 0;
  padding: 0;
  /* Remova o max-width: 100vw se puder, ele causa bugs com scroll */
  width: 100%;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #E1DAD2;

}

a{
  text-decoration: none;
  color: white;
}

ul li{
  list-style: none;
}



header{
  background-color: #421F38;
}

nav{
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img{
  width: 220px;
}


.navegacao{
  display: flex;
  list-style: none;
  font-family: 'Inter';
  gap: 20px;
  color: white;
}


/* GALERIA */

.logoGaleria{
  position: absolute;
  left: -300px;
  opacity: 0.2;
}


.galeria-container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.galeriaPrincipal{
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}

.galeriaPrincipal h1{
  max-width: 600px;
  color: #957755;
  font-weight: 400;
  font-size: 42px;
  font-family: 'Playfair Display', serif;
}

.galeriaPrincipal span{
  color: #421F38;
  font-style: italic;
}